//colors
$light-color: rgba(255, 255, 255, 0.5);
//$light-color:rgba(255, 255, 255, 0.5);
//$dark-color:#333333;
$dark-color:#202127;
$light-gray: #303035;
$black-color:#181818;
$dark-color-opacity:rgba(24, 24, 24,0.7);
$gold-color:#cdaa7c;
$frame-color:rgba(0, 0, 0, 0.7);
$white-color:#FFFFFF;

