.animation-position
{
    //position: absolute;
    //z-index: -5;
    &--right
    {
        right: 0rem;
    }
    &--left
    {
        left: 0rem;
    }
}






// .open-sign
// {
//             position: absolute;
           
// .calendar
// {
//     right: 0rem;
//     position: absolute;
// }
// .servive-img
// {
//     position: absolute;
//     right: 0rem;
//     margin-top: 2rem;
// }
// .choice
// {
//     position: absolute;
//             left: 0rem;
// }
// .award
// {    position: absolute;
//     right: 0rem;
// }
// .shop
// {
//     position: absolute;
//     left: 0rem;
//      z-index: -5;
// }
