.box-card-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 9rem;
    left: 30%;
    float: left;
.book-now-button-1
{

    color: black;
    text-align: center;
    position: absolute;
    top: 31rem;
    left: 19rem;
    
}
// .heading-img
// {
//     margin-top: 1rem;
//     padding-top: 2rem;
// }
}